<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
{% block content %}
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-12 col-lg-2" style="width:800px;">
        <div class="card mb-3 ms-5" style="max-width: 800px;">
            <img src="{{d.pic.url}}" class="card-img-top mt-5" alt="..." style="width:700px">
                <div class="card-body">
                <h5 class="card-title">{{d.name}}</h5>
                <p class="card-text">{{d.desc}}</p>
                    <h5 class="card-text">Year of Release: {{d.year}}</h5>
                    <h5 class="card-text">Released Language:{{d.language}}</h5>
                    <a href="{% url 'movie:update' d.id %}" class="btn btn-success"> Update </a>
                    <a href="{% url 'movie:delete' d.id %}" class="btn btn-success"> Delete </a>
                </div>
        </div>
    </div>

  </div>
</div>

{% endblock %}

</body>
</html>